.sub-nav-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10vh;
}

.sub-nav {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-width: 380px;
}

.sub-nav-wrapper button {
  display: inline-block;
  padding: 15px;
  margin: 0;
  text-decoration: underline;

  background: transparent;
  border: 1px solid transparent;
}

.home-layout-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.home-layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 500px;
  font-size: 30px;
  line-height: 1.6;

  margin: 100px auto 0 auto;
}
