.picker-layout {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border: 1px solid #7d7c7c;
  min-height: 60vh;
  min-width: 500px;
  border-radius: 0.6rem;

  padding: 15px;
  margin: 0 auto;

  flex: 1 1;
}
