.color-combo-wrapper {
  display: flex;
  flex-flow: row wrap;
  /* border: 1px solid #eee; */
}

.collection-wrapper {
  text-align: center;
  min-height: 20vh;
  /* min-width: 100vw; */
  /* padding: 30px; */
  margin: 0 auto;
  cursor: pointer;
}

.btn {
  height: 40px;
  width: 90px;
  font-size: 16px;
  background: transparent;
  /* border: 2px solid black; */
  border-color: #444;
  border-width: 2px;
  border-radius: 0.3rem;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  transition: transform 150ms ease;
}

.btn:hover {
  transform: scale(1.1);
}

.collections-name {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
