.color-combo-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: auto;
  margin-bottom: 30px;
  /* border: 1px solid #eee; */
}

.collection-wrapper {
  text-align: center;
  /* min-height: 1vh; */
  width: 80vw;
  max-width: 700px;
  /* padding: 30px; */
  margin: 0 auto 60px auto;
  /* cursor: pointer; */
}

.collection-divider {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 100%;
}

.btn {
  min-height: 40px;
  min-width: 90px;
  font-size: 16px;
  font-weight: bold;

  border-width: 2px;
  border-radius: 0.3rem;
  margin: 20px;
  padding: 5px;
  cursor: pointer;
  transition: transform 150ms ease;
}

.delete-btn {
  display: block;
  width: 130px;
  margin: 50px 20px;
}

.btn:hover {
  transform: scale(1.1);
}

.collections-name {
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-align: left;
  max-width: 600px;
  margin: 10px;
}
