.color-combo {
  height: 100px;
  width: 100px;
  border-radius: 0.3rem;
  /* border: 1px solid #eee; */

  padding: 5px;
  margin: 25px 5px;
  cursor: pointer;
}

.combo-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 0 auto;
  /* border: 1px solid #eee; */
  border-radius: 0.3rem;
  padding: 5px;
  margin: 15px 5px;
}

.combo-alias {
  width: 100%;
  height: 14px;
  margin: 0;
}

.combo-colors-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  margin: 0 15px;
}
