.checker-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 700px;
  margin: 0 auto;
}

.custom-color-wrapper {
  margin-top: 40px;
  width: 350px;
}

.colorBox {
  height: 100px;
  width: 100px;
  margin: 5px;
  padding: 0 1px;
  border-radius: 0.3rem;
  border: 1px solid transparent;
}
.checker-score {
  font-size: 90px;
}
.checker-ratio {
  font-size: 35px;
}

.collection-item-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.save-to-collection-wrapper {
  text-align: left;
}

.pick-collection-wrapper,
.add-collection-wrapper {
  margin: 80px 0;
}

.add-collection-wrapper form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.collection-list {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.add-collection-input {
  background-color: transparent;
  /* border: 2px solid #444; */
  height: 30px;
  max-width: 180px;
  padding: 0 0 0 10px;
  border-radius: 0.3rem;
  font-size: 14px;
  overflow-x: hidden;
}

input[type='color' i] {
  background-color: transparent;
  cursor: pointer;
}
