body {
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
}

.app-layout {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: space-between;
}
